.category-container {

  h3{
    margin: 0 0 25px;
  }
  .category-all-title { text-align: center; }


  .category-list {
    margin: 0;
    padding: 10px;
    list-style: none;
    color: #777;
  }

  .category-list-item { margin: 1em 1em; }

  .category-list-count {
    color: $grey;
    &:before {
      display: inline;
      content: " ("
    }
    &:after {
      display: inline;
      content: ") "
    }
  }

  .category-list-child { padding-left: 10px; }
}